<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boger.game.gc"> <!-- uemng -->

    <!-- 外部存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <meta-data
        android:name="UMENG_APPKEY"
        android:value="58d22f0e9f06fd7f460013e4" />
    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="${UMENG_CHANNEL_VALUE}" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/title_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForumIndexActivity"
            android:label="@string/title_forum"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChildrenModuleIndexActivity"
            android:label="@string/title_post"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PostDetailActivity"
            android:label="@string/title_post_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.PersonalHomePageActivity"
            android:label="@string/title_personal_home_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PhotoActivity"
            android:process=":picture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoLActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PictureCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>