<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.gc">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/title_about"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ForumDetailListActivity"
            android:label="@string/title_forum"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_login"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_register"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ForumPostListActivity"
            android:label="@string/title_post"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PostDetailActivity"
            android:label="@string/title_post_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.activity.PersonalHomePageActivity"
            android:label="@string/title_personal_home_page"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.VideoActivity"
            android:screenOrientation="user" />
    </application>


</manifest>
